$RECYCLE.BIN/
**/*.rs.bk
*.cab
*.icloud
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pdb
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.devenv*
.directory
.direnv
.docusaurus
.dynamodb/
.env
.envrc
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea/
.lock-wscript
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.pre-commit-config.yaml
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.venv
.venv/
.vscode-test
.vscode/
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
bower_components
build/Release
coverage
debug/
devenv.local.nix
dist
dist/
ehthumbs.db
ehthumbs_vista.db
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/*
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
result
result/
target/
web_modules/
yarn-debug.log*
yarn-error.log*
